.nav-link.active {
  color: #0d6efd !important;
}

.nav-link {
  color: black !important;
}

.nav-link.hover {
  color: rgba(0, 0, 0, 0.527) !important;
}

.buttons-html5 {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

th.parameter-column,
td.parameter-column {
  width: 5% !important;
}
th.document-column,
td.document-column {
  width: 15% !important;
}
