<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <title>Administrator Login | WideIDP</title>
  </head>
  <body>
    <!----------------------- Main Container -------------------------->
    <div
      class="container d-flex justify-content-center align-items-center min-vh-100"
    >
      <!----------------------- Login Container -------------------------->
      <div class="row border rounded-5 p-3 bg-white shadow box-area">
        
          <div class="row align-items-center">
            <div class="header-text mb-2">
              <h2>Welcome to <strong>WideIDP</strong>!</h2>
              <p>Smart Document Validation for Everyone</p>
            </div>
            <form">
              <div class="input-group mb-3">
                <input
                  id="username"
                  name="username"
                  type="text"
                  class="form-control form-control-lg bg-light fs-6"
                  placeholder="Username"
                />
              </div>
              <div class="input-group mb-3">
                <input
                  id="password"
                  name="password"
                  type="password"
                  class="form-control form-control-lg bg-light fs-6"
                  placeholder="Password"
                />
              </div>
              <div class="input-group mb-3">
                <button
                  id="login-button"
                  type="submit"
                  class="btn btn-lg btn-primary w-100 fs-6"
                >
                  Login
                </button>
              </div>
            </form>
            <div id="error-message" class="text-danger"></div>
            <div class="row"></div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.2.1/jsencrypt.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      const userId = "{{ user_id }}";
    </script>
    <script
      type="module"
      src="{{ url_for('administrator.static', filename='js/administrator_login.js') }}"
    ></script>
  </body>
</html>
