<div
  class="tab-pane fade"
  id="nav-consistency"
  role="tabpanel"
  aria-labelledby="nav-consistency-tab"
>
  <div class="container-fluid border border-top-0 p-3 bg-white">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h6">Consistency Detail</h1>
    </div>
    <div class="table-responsive" id="document-table-container"></div>
  </div>
  <div class="shadow container-fluid bg-white p-3 mt-3">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom pb-1"
    >
      <h1 class="h6">Accounts Summary</h1>
    </div>

    <div class="row p-3">
      <div class="col-sm-2 border">
        <nav class="nav" id="navigation-page"></nav>
      </div>
      <div class="col-sm-10 border" id="page-source"></div>
      <!-- <div class="col-sm-5 border p-3" id="parameters"></div> -->
    </div>
  </div>
</div>
